#navBar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: rgb(145, 46, 46);
  height: 50px;
  border-bottom: 1px solid #000;
}

.left {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.right {
  display: flex;
  align-items: stretch;
}

.link {
  background-color: rgb(145, 46, 46);
  padding: 20px;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

.active {
  background-color: rgb(53, 117, 171);
}

#signOut {
  position: absolute;
  /* Account for height and border of navBar */
  top: 51px;
  right: 0;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-top: none;
  border-right: none;
}
