#app {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

#container {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  text-align: center;
}

.sub-heading {
  margin: 0;
  margin-bottom: 20px;
}
